.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Gym Card Component */
.gym-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 260px;
}
.gym-photo {
  width: 100%;
  height: 200px;
}
/* User Card Component */
.user-photo {
  width: 100%;
  height: 200px;
}
.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 260px;
}
/* NAV BAR */
nav {
  background-color: white;
}

/* Home Page Style */
.mission {
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 5px red;
  color: white;
  text-align: center;
}

.header {
  font-size: 50px;
  color: yellow;
  font-family: 'Black Ops One', cursive;
  text-align: center;
}
h1.header {
  margin: 0;
}

.homebody {
  background-image: url('../styles/javier-santos-guzman-9MR78HGoflw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 100%;

  height: 90.1vh;
  width: 100vw;

  margin: auto;
}

/* User List Style */

h1.allusers {
  text-align: center;
  font-family: 'Black Ops One', cursive;
  background-color: yellow;
  margin: auto;
}

p.userp {
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 5px white;
  color: yellow;
  text-align: center;
  font-size: 20px;
}
body.allofit {
  background-color: grey;
}

/* Gym List/All Gyms Style */

.allgympic {
  /* background-image: url('../styles/buildgym.jpeg'); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: grey;
}

.allgymshead {
  font-family: 'Black Ops One', cursive;
  text-align: center;
  font-size: 50px;
  background-color: yellow;
}
h1.allgymshead {
  margin: 0;
}

/* Gym Details Style */

/* h1.gymdetails {
  font-family: 'Black Ops One', cursive;
  background-color: yellow;
}
.backgroundcolor {
  background-color: blue;
} */

/* Button Style */

button {
  border-radius: 12px;
  background: #808632;
  box-shadow: inset 9px 9px 17px #333614, inset -9px -9px 17px #cdd650;
  color: white;
}
.delete {
  border-radius: 12px;
  background: #b08830;
  box-shadow: inset 9px 9px 17px #463613, inset -9px -9px 17px #ffda4d;
}
.edit {
  border-radius: 12px;
  background: #1f4417;
  box-shadow: inset 9px 9px 17px #0c1b09, inset -9px -9px 17px #326d25;
}

/* Create User Style */

.userinput {
  background-color: blue;
  height: 89.99vh;
  width: 100vw;
}
.formuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
  box-shadow: none;
}

h1.userhead {
  text-align: center;
  font-family: 'Black Ops One', cursive;
  background-color: yellow;
  margin: auto;
}

/* Create Gym Style */

div.formgym {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1.formhead {
  text-align: center;
  font-family: 'Black Ops One', cursive;
}
form.formform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formbody {
  background-color: blue;
  height: 84.5vh;
  width: 100vw;
}
.createall {
  background-color: yellow;
}
h1.formhead {
  margin: auto;
}

/* Create Comment Style */
.comment-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83.3vh;
  background-color: blue;
}
h1.gymcomments {
  font-family: 'Black Ops One', cursive;
  background-color: yellow;
  margin: auto;

  align-items: center;
  text-align: center;
}
.commentform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Edit Comment Style */
.editcomment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
