.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gym-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 260px;
}
.gym-photo {
  width: 100%;
  height: 200px;
}
/* .home {
} */
.header {
  font-size: 50px;
  color: yellow;
  font-family: 'Black Ops One', cursive;
  text-align: center;
}
h1.header {
  margin: 0;
}

button {
  border-radius: 12px;
  background: #808632;
  box-shadow: inset 9px 9px 17px #333614, inset -9px -9px 17px #cdd650;
  color: white;
}
.delete {
  border-radius: 12px;
  background: #b08830;
  box-shadow: inset 9px 9px 17px #463613, inset -9px -9px 17px #ffda4d;
}
.edit {
  border-radius: 12px;
  background: #1f4417;
  box-shadow: inset 9px 9px 17px #0c1b09, inset -9px -9px 17px #326d25;
}
.mission {
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 5px red;
  color: white;
  text-align: center;
}
.allgyms {
  font-family: 'Black Ops One', cursive;
  text-align: center;
  font-size: 50px;
}
h1.allgyms {
  margin: 0;
}
.gymdetails {
  font-family: 'Bungee Shade', cursive;
}
.homebody {
  background-image: url('../styles/javier-santos-guzman-9MR78HGoflw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: scale-down;
  margin: auto;
}
nav {
  background-color: white;
}
.allgympic {
  /* background-image: url('../styles/buildgym.jpeg'); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: blue;
}
.userinput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.formgym {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1.formhead {
  text-align: center;
  font-family: 'Black Ops One', cursive;
}
form.formform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.formuser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1.userhead {
  text-align: center;
  font-family: 'Black Ops One', cursive;
}
h1.allusers {
  text-align: center;
  font-family: 'Black Ops One', cursive;
}
p.userp {
  font-family: 'Jura', sans-serif;
  text-shadow: 2px 2px 5px red;
  color: black;
  text-align: center;
}
